<app-page-header [content]="pageContent.header"></app-page-header>

<h3> Ninja by Rating  </h3>

    <li *ngFor="let ninja of ninjas">
      {{ ninja.name }}
      {{ ninja.ninjaRating }}
    </li>


  <h3> Ninja Skills </h3>
    <li *ngFor="let ninja of ninjas">
      {{ ninja.name }}
      <h5>{{ ninja.skills }}</h5>
    </li>


    <app-insights-sidebar class="col-12 col-md-4"></app-insights-sidebar>

    <div>  <p *ngIf="ninjaRating > 3">Ninjas with 3 or higher rating</p>
    </div>
  





